<ul id="tab" class="nav nav-tabs" id="items-nav">
  <li class="active unread"><a href="#home" data-toggle="tab" title="34 unread">Unread</a></li>
  <li class="all"><a href="#profile" data-toggle="tab" title="4 million!">All</a></li>

  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Skip <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#dropdown1" data-toggle="tab">All</a></li>
      <li><a href="#dropdown1" data-toggle="tab">Older than day</a></li>
      <li><a href="#dropdown1" data-toggle="tab">Older than week</a></li>
      <li><a href="#dropdown1" data-toggle="tab">Older than month</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sort <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#dropdown1" data-toggle="tab"><strong>Newest</strong></a></li>
      <li><a href="#dropdown1" data-toggle="tab">Oldest</a></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li><a href="#dropdown1" data-toggle="tab">Unsubscribe</a></li>
    </ul>
  </li>
</ul>

